<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mapple"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
<!-- インターネットアクセス:マップのダウンロードに使用する-->
    <uses-permission android:name="android.permission.INTERNET" />
<!--  ネットワーク状態チェック-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<!-- 外部ストレージへの書き込み:マップのキャッシュを保存するのに使用 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<!-- googleAPIへのアクセス -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
<!-- ネットワーク経由での位置情報の取得 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<!-- GPS経由での位置情報取得 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	
 	<uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/totoro"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDdCoXcbQfBFBvzm3kzkNIt0h0EGC37LM4"/>
		<uses-library
		    android:name="com.google.android.maps" />
        <activity
            android:name="com.example.mapple.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mapple.Setting"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>